/* article */

.todolist {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(164, 164, 174);
    margin-top: 10px;
    margin-bottom: 10px;
}
.value {
    width: 60%;
    color: aliceblue;
    letter-spacing: 2px;
    margin-left: 10px;
}
.edit {
    margin-right: 5px;
    font-size: 11px;
}
.delete {
    background: rgb(189, 25, 25);
    color: aliceblue;
    margin-left: 5px;
    margin-right: 10px;
    font-size: 11px;
}

.todolist button {
    outline: none;
    border: none;
    padding: 3px 6px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* Main Container */

.noteContainer {
    padding: 10px 0;
    width: 50%;
    margin: auto;
    background: rgb(82, 78, 78);
}
.list {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
}

/* Heading */

.header {
    text-align: center;
    width: 50%;
    margin: auto;
    background-color: rgb(53, 51, 51);
    color: aliceblue;
    margin-top: 10%;
    padding: 10px 0;
}

/* Input Container */

.inputContainer {
    display: flex;
    justify-content: center;
}
.inputContainer input {
    padding: 6px 10px;
    outline: none;
    border: none;
    font-weight: 700;
    letter-spacing: 2px;
    margin-right: 20px;
}

.inputContainer input:focus {
    color: rgb(39, 39, 39);
}

.save {
    outline: none;
    border: none;
    padding: 0 15px;
    letter-spacing: 1px;
}

/* Clear Button */

.clearSection {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.clearSection button {
    outline: none;
    border: none;
    padding: 6px 12px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 12px;
}

@media (max-width: 590px) {
    .noteContainer {
        width: 90%;
    }
    .header {
        width: 90%;
    }
}
@media (max-width: 340px) {
    .noteContainer {
        width: 100%;
    }
    .header {
        width: 100%;
    }
}
